.TopBanner {
  position: relative;
  overflow: hidden;
}

.TopBanner .slick-slider {
  margin-bottom: 0;
}

.TopBanner .slick-slider .slick-slide {
  position: relative;
}

.TopBanner .slick-slider .slick-slide > div {
  margin: 20px 10px;
}

.TopBanner .slick-slider .slick-slide > div > div {
  width: 100%;
  display: inline-block;
}

.TopBanner .slick-slider .slick-slide > div > div > div > a > img {
  display: inline-block;
  max-height: 300px;
  max-width: 1060px;
}

@media (min-width: 1200px) {
  .TopBanner {
    height: 300px;
  }

  .TopBanner .slick-slider .slick-slide {
    padding: 0 12px;
    box-sizing: content-box;
  }

  .TopBanner .slick-slider .slick-slide > div {
    margin: 0;
  }
}
