.TopBanner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
}

.SlickSlider {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;

  margin-bottom: 30px;
}

.TopBanner .SlickSlider {
  margin-bottom: 0;
}

.SlickList {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  padding: 0px 50px;
}

.SlickTrack {
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.SlickTrack:before,
.SlickTrack:after {
  content: "";
  display: table;
}

.SlickTrack:after {
  clear: both;
}

@media (min-width: 1200px) {
  .TopBanner {
    height: 300px;
  }

  .SlickList {
    padding: 0px 40px;
  }
}
