#GNBSignupBtn {
  display: none;
}

.MainBar_Nav_Top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MainBar_Nav_Top_Logo {
  display: flex;
}

.MainBar_Hamburger {
  margin-top: -2px;
  margin-right: 13px;
}

.MainBar_Hamburger_Image {
  width: 17px;
  height: 14px;
  object-fit: contain;
  image-rendering: -webkit-optimize-contrast;
}

.MainBar_Logo {
  display: block;
}

@media (min-width: 768px) and (max-width: 991px) {
  .MainBar_Nav_Top {
    padding: 15px 0;
    height: 60px;
    width: 100%;
  }

  .MainBar_Logo {
    position: relative;
    float: left;
  }
}

@media (max-width: 767px) {
  .MainBar_Nav_Top {
    height: 60px;
    width: 100%;
    padding: 15px 20px;
  }
}
